{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container h-screen flex flex-col items-center justify-center">

        <div class="mb-4 text-xl">
            {% if  error %}
                <div class="alert alert-error text-md">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-error text-md mb-2">{{ error.message }}</div>
                {% endfor %}
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        </div>

        <div class=" lg:grid lg:grid-cols-2 lg:gap-20 grid">

            {# LOGIN FORM #}
            <form method="post" action="{{ url('app_login') }}" class="max-w-screen w-xs">
                <h2 class="text-2xl font-bold mb-10">Sign in</h2>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Your Email</span>
                    </label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           autocomplete="email"
                           required autofocus class="input input-bordered"/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password" autocomplete="current-password" required
                           id="inputPassword"
                           class="input input-bordered"/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="flex justify-end">
                    <button class="btn btn-sm mt-4" type="submit">
                        Sign in
                    </button>
                </div>
            </form>


            {# REG FORM #}

            <form method="post" action="{{ url('app_register') }}" class="max-w-screen w-xs">
                <h2 class="text-2xl font-bold mb-10">Sign up</h2>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Your Email</span>
                    </label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           autocomplete="email"
                           required autofocus class="input input-bordered"/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password" autocomplete="current-password" required
                           id="inputPassword"
                           class="input input-bordered"/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Repeat password</span>
                    </label>
                    <input type="password" name="re-password" required
                           class="input input-bordered"/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="flex justify-end">
                    <button class="btn btn-sm mt-4" type="submit">
                        Sing Up
                    </button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
