{% extends 'base.html.twig' %}
{% block title %}Home page - kedr test{% endblock %}

{% block body %}
    <div class="container min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-4xl font-semibold mb-4">Test app - Events</h1>

        <div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('admin') }}" class="btn btn-sm btn-primary m-2">EasyAdmin</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <a href="{{ url('app_logout') }}" class="btn btn-sm">Logout</a>
            {% else %}
                <a href="{{ url('app_login') }}" class="btn btn-sm">Login</a>
            {% endif %}
        </div>

        {% if is_granted('ROLE_USER') %}
            <div class="overflow-x-auto w-full mt-4">
                <h2 class="text-2xl text-center font-semibold">User events</h2>
                <table class="w-full table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>created At</th>
                        <th>start</th>
                        <th>finish</th>
                        <th>data</th>
                        <th>user ids</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in app.user.events %}
                        <tr>
                            <th>{{ event.id }}</th>
                            <th>{{ event.createdAt.format('Y-m-d h:i') }}</th>
                            <th>{{ event.start.format('Y-m-d h:i') }}</th>
                            <th>{% if event.finish %}
                                    {{ event.finish.format('Y-m-d h:i') }}
                                {% endif %}</th>
                            <th class="whitespace-nowrap">{{ event.data|raw }}</th>
                            <th>
                                {% for member in event.members %}
                                    <span class="mr-2 badge">{{ member.id }}</span>
                                {% endfor %}
                            </th>
                        </tr>
                    {% endfor %}
                    {% if app.user.events|length == 0 %}
                        <tr><th>Events not found</th></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="overflow-x-auto w-full mt-10">
                <h2 class="text-2xl text-center font-semibold">All events by date</h2>

                {% if groupedEvents|length == 0 %}
                    <div class="badge">Events not found</div>
                {% endif %}
                {% for date, events in groupedEvents %}
                    <h3 class="text-xl  ml-2 mb-2 badge py-4">{{ date }}:</h3>
                    <table class="w-full table table-compact">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>created At</th>
                            <th>start</th>
                            <th>finish</th>
                            <th class="w-[150px]">data</th>
                            <th>user ids</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <th>{{ event.id }}</th>
                                <th>{{ event.createdAt.format('Y-m-d h:i') }}</th>
                                <th>{{ event.start.format('Y-m-d h:i') }}</th>
                                <th>{% if event.finish %}
                                        {{ event.finish.format('Y-m-d h:i') }}
                                    {% endif %}</th>
                                <th class="whitespace-nowrap">{{ event.data|raw }}</th>
                                <th>
                                    {% for member in event.members %}
                                        <span class="mr-2">{{ member.id }}</span>
                                    {% endfor %}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

            </div>
        {% endif %}

    </div>
{% endblock %}


